
tr.item, td.item {
    line-height: 10px;
    font-size: 8px;
    padding: 4px;
}

.item-id {
}
td.item-id {
    font-size: 11px;
    text-align: center;
    width: 20px;
}

td.item-mkr {
    font-size: 11px;
    text-align: center;
    width: 20px;
}
td.item-bdry {
    width: 10px;
}

td.item-actions {
    width: 70px;
}
.bold {
    font-weight: bold;
}
td.item-dNam {
    font-size: 10px;
}

div.bdyNotes {
    width: 100%;
    padding: 0 5px 0 5px;
    margin-top: 5px;
    border: solid 1px rgb(221, 221, 221);
}
.bdyNotes p {
    width: 100%;
    line-height: 12px;
    font-size: 10px;
}
