<div class="hero-unit">
  <h1>Log in</h1>
  <!-- auto-fillable-field -->
  <form ng-submit="login()" name="loginForm" class="form-horizontal">

    <div class="control-group">
      <label for="uNamOrEmail" class="control-label">Username or Email</label>
      <div class="controls">
        <input type="text" ng-model="uNamOrEmail" placeholder="Username or Email Address"
               name="uNamOrEmail"/>
      </div>
    </div>

    <div class="control-group">
      <label for="pw" class="control-label">Password</label>
      <div class="controls">
        <input type="password"  ng-model="pw" placeholder="Password" name="pw"/>
      </div>
    </div>

    <div class="control-group">
      <label for="rememberme" class="control-label">Remember me</label>
      <div class="controls">
          <input type="checkbox" ng-model="rememberme" />
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Submit</button>
      </div>
    </div>
  </form>
</div>
