<h4><a ng-href="#/">Home</a> | <a ng-href="#/plcs">Places</a> | <a ng-href="#/plc/{{item._id}}/edit">Edit</a></h4>

        {{plcR}}
<div class="container-fluid" ng-controller="PlcViewCtrl">
    <h4>{{item.dNam}}</h4>
    Lat: {{lat}}
    Lng: {{lng}}


    <!--<br/>-->
    <!--<input ng-class="{changed: item.$isChanged('lbl')}" ng-model="item.lbl" />-->
    <!--<br/>-->
    <!--<b>Original:</b> {{item.__proto__.lbl}}-->
    <!--<br/>-->
    <!--<b>New Data:</b> {{item.lbl}}-->
    <!--<br/>-->
    <!--<b>isChanged:</b> (<b ng-class="{changed: item.$isChanged()}">{{item.$isChanged()}}</b>)-->
    <!--<br/>-->
    <!--<b>Diff:</b> {{item.$diff()}}-->
    <!--<br/>-->
    <button ng-click="item.$put()">Save</button>
    <button ng-click="item.$delete(item._id, item.etag)">Delete</button>
</div>
