<h4><a ng-href="#/">Home</a> | <a ng-href="#/plcs">Places</a> | <a ng-href="#/plc/{{item._id}}">View</a></h4>

<div class="container-fluid" ng-controller="PlcFormCtrl">
    <h4>{{item.dNam}}</h4>

    <form name="form">
        <legend>Edit Place</legend>
        <label>Label</label>
        <input type="text" ng-model="item.lbl">
        <label>Latitude</label>
        <input type="text" ng-model="item.lat">
        <label>Longitude</label>
        <input type="text" ng-model="item.lng">

        <hr>
        <!--<button class="btn btn-primary" ng-click="save(item)" ng-disabled="!hasChanges()||form.$invalid">Save</button>-->
        <button class="btn btn-primary" ng-click="save(item)">Save</button>
        <button class="btn btn-warning" ng-click="abandonChanges()">Abandon</button>
        <button class="btn btn-danger" ng-click="remove(item)" ng-disabled="!item._id">Remove</button>
    </form>
</div>
