<h4>Places</h4>
<div ng-controller="PlcsCtrl" ng-cloak>

    <table class="table table-striped table-bordered table-hover">
        <tbody>
        <tr ng-repeat="item in items">
            <td ng-click="edit(item)">{{item.slug}}</td>
            <td ng-click="view(item)">{{item.pts}}</td>
            <td>

                <button class="btn btn-primary" ng-click="view(item)">View</button>
                <button class="btn btn-warning" ng-click="edit(item)">Edit</button>
                <button class="btn btn-danger" ng-click="remove(item)" ng-disabled="!item._id">Remove</button>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" ng-click="insert()">Add New Place</button>
</div>
